#calendar {
  padding: 48px 0;
  max-width: 689px;

  .calendar-page {
    max-width: 334px;
    max-height: 357px;
    padding: 0 13px;
    text-align: center;
    width: 100%;

    .month {
      font-weight: 550;
    }
  }

  .calendar-nav {
    .button {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .button:hover {
      background-color: rgba(189, 189, 189, 0.24);
    }

    #move-left {
      float: left;
    }

    #move-right {
      float: right;
    }
  }

  #page-container {
    display: flex;
    margin-top: 22px;
  }

  h3 {
    margin: 0 0 0 0;
  }

  p {
    font-size: 14px;
    color: #717171;
    padding: 8px 0px 0px;
    margin: 0;
  }

  table {
    width: 100%;
    border-spacing: 0px 2px;

    th {
      color: #717171;
      font-size: smaller;
      font-weight: 550;
      max-width: 42px;
    }

    td {
      width: 44px;
      height: 44px;
      margin: 0 1px;
      font-size: 14px;
      font-weight: 550;
    }

    div {
      text-align: center;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .available:hover {
      border: 1px black solid;
      border-radius: 100%;
    }

    .available {
      cursor: pointer;
      font-weight: 550;
    }

    .selected {
      background-color: black;
      color: white;
    }

    .check-in-date {
      background-color: rgb(247, 247, 247);
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
    }

    .check-out-date {
      background-color: rgb(247, 247, 247);
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }

    .unavailable {
      color: rgb(176, 176, 176);
      text-decoration: line-through;
    }

    .unavailable:hover {
      cursor: default;
    }

    .between-selection {
      border-radius: 0%;
      background-color: rgb(247, 247, 247);
      border: 3px solid rgb(247, 247, 247);
    }

    .between-selection:hover {
      div {
        border: 1px black solid;
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
      }
    }

    .between-selection:hover {
      border: none;
    }
  }

  #calendar-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    button {
      border: none;
      text-decoration: underline;
      cursor: pointer;
      background: none;
      padding: 8px;
      border-radius: 8px;
      font-weight: 550;
      font-size: 14px;
    }

    button:hover {
      background-color: #f7f7f7;
    }

    #legend {
      height: 48px;
      width: 48px;
      font-size: large;
    }
  }
}
