#sticky-div-container {
  height: 100%;
  width: 100%;
  margin-left: 8.333333333333332%;
  height: auto;

  > div {
    padding-bottom: 48px;
    height: 601px;
    position: sticky;
    margin-top: 48px;
    top: 128px;
    z-index: -1;

    #reserve-window {
      padding: 24px;
      border: 1px solid rgb(176, 176, 176);
      border-radius: 12px;
      box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

      #reserve {
        padding: 14px 28px;
        display: block;
        border: none;
        color: white;
        width: 100%;
        max-height: 48px;
        border-radius: 8px;
        background-size: 200% 200%;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;

        --mouse-x: 7;
        --mouse-y: 62;

        background-image: radial-gradient(
          circle at center,
          #ff385c 0%,
          #e61e4d 27.5%,
          #e31c5f 40%,
          #d70466 57.5%,
          #bd1e59 85%,
          #bd1e59 100%
        );
        background-position: calc((100 - var(--mouse-x, 0)) * 1%)
          calc((100 - var(--mouse-y, 0)) * 1%);
      }

      > span {
        display: block;
        margin: auto;
        width: fit-content;
        margin-top: 16px;
        font-size: 14px;
      }

      .price-calc {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
      }

      #total {
        margin: 24px 0 0;
        padding: 24px 0 0;
        border-top: 1px solid rgb(221, 221, 221);
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 550;
      }

      .service-fee {
        padding-top: 24px;
        display: flex;
        justify-content: space-between;

        button {
          border: none;
          background: none;
          font-size: 16px;
          text-decoration: underline;
          padding: 0;
        }
      }

      > div {
        display: flex;
      }

      #price {
        margin-bottom: 16px;

        span {
          margin: auto 0px;
          padding-left: 2px;
        }
        .bolder {
          font-size: 20px;
          font-weight: 550;
        }
      }

      #dates {
        border: 1px rgb(176, 176, 176) solid;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        margin-bottom: 16px;

        .float {
          display: block;
          font-size: 10px;
          font-weight: 600;
        }

        .border-left {
          border-left: 1px solid rgb(176, 176, 176);
        }

        .border-top {
          border-top: rgb(176, 176, 176) 1px solid;
        }

        .flex {
          display: flex;
          justify-content: space-between;
        }

        .half-size {
          width: 50%;
        }

        > div {
          min-height: 56px;
          width: 100%;
          padding: 14px 12px 10px;
        }
      }
    }

    > button {
      color: #717171;
      background: none;
      border: none;
      cursor: pointer;
      display: block;
      margin: auto;
      margin-top: 24px;

      i {
        margin-right: 16px;
      }

      span {
        text-decoration: underline;
        font-size: 14px;
        font-weight: 550;
      }
    }
  }
}
